.t-item{
	width: 24px;
    height: 24px;
    margin-top: 8px;
    background: url(imgs/toolbar.png) no-repeat;
}
#toolbar{
	display:inline-block;
	padding-left:8px;
	border-left:solid 1px #ccc;
	border-right:solid 1px #ccc;
	div{
		padding: 0 8px;
		// margin:0 8px;
		display:inline-block;
		&:hover{
			cursor: pointer;
			opacity: 0.6;
		}
	}
	#pan{
		background-position: -30px -279px;
	}
	#zoomtoall{
		background-position: -30px -17px;
	}
	#distance{
		background-position: -30px -42px;
	}
	#area{
		background-position: -30px -65px;
	}
}